


body{
	background-color: rgba(235,132,57,0.5); 
}
li{list-style: none;}
li{text-align: center;color: red}
li{border:dotted 8px;  border-color: #A3891A;}

li{font-size: 48px;}
a{text-align: color:;}